.adaptive-card_wrap {
    width: 100%
}

.adaptive-card_wrap .adaptive-card_link {
    display: block;
    background-position: 50%;
    background-size: cover;
    position: relative;
    border-radius: 4px;
    background-color: #eee
}

.adaptive-card_wrap .adaptive-card_link .adaptive-card_content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.page-no-header .layout-default_header.mobile-header[data-v-572b7860] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-572b7860] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-572b7860] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-572b7860] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-572b7860] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-572b7860] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-572b7860] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-572b7860] {
    -webkit-animation: appear-data-v-572b7860 .3s;
    animation: appear-data-v-572b7860 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-572b7860 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-572b7860 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.location[data-v-572b7860] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.location .location-title[data-v-572b7860] {
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    padding-left: 4px
}

.activity-card-tags {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: inherit;
    height: 24px;
    overflow: hidden
}

.activity-card-tags .tag {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 8px;
    border-radius: 4px;
    margin-right: 8px;
    font-weight: 600;
    max-width: 200px
}

.activity-card-tags .tag span {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.activity-card-tags .tag:last-child {
    min-width: 20px;
    margin-right: 0;
    flex-shrink: 1;
    flex-basis: auto
}

.activity-card-tags.less-than-200 .tag {
    max-width: 100%
}

.page-no-header .layout-default_header.mobile-header[data-v-7b382040] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-7b382040] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-7b382040] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-7b382040] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-7b382040] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-7b382040] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-7b382040] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-7b382040] {
    -webkit-animation: appear-data-v-7b382040 .3s;
    animation: appear-data-v-7b382040 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-7b382040 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-7b382040 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.activity-card-title[data-v-7b382040] {
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.activity-card-title a[data-v-7b382040] {
    pointer-events: none
}

.page-no-header .layout-default_header.mobile-header[data-v-a887b0ba] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-a887b0ba] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-a887b0ba] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-a887b0ba] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-a887b0ba] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-a887b0ba] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-a887b0ba] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-a887b0ba] {
    -webkit-animation: appear-data-v-a887b0ba .3s;
    animation: appear-data-v-a887b0ba .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-a887b0ba {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-a887b0ba {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.page-activity-recommend-info-title-review .page-activity-recommend-new-activity[data-v-a887b0ba] {
    font-size: 12px;
    font-weight: 500;
    color: #ff9c00
}

.page-activity-recommend-info-title-review .page-activity-recommend-score[data-v-a887b0ba] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 17px;
    line-height: 17px;
    font-size: 12px
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-score-number[data-v-a887b0ba] {
    border-radius: 8px;
    color: #45479B;
    font-weight: 500;
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 2px
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-score-number .score-rate[data-v-a887b0ba] {
    margin: 0 2px 0 3px
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-score-number svg[data-v-a887b0ba] {
    margin-top: -1px
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-booked-number[data-v-a887b0ba],
.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-review-number[data-v-a887b0ba] {
    color: #757575;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-word;
    -webkit-box-flex: 0;
    flex: none
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-review-number[data-v-a887b0ba] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-review-number .review-number[data-v-a887b0ba] {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .sep[data-v-a887b0ba] {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    border: 1px solid #757575;
    margin: 0 4px
}

.page-no-header .layout-default_header.mobile-header[data-v-6b588fea] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-6b588fea] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-6b588fea] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-6b588fea] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-6b588fea] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-6b588fea] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-6b588fea] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-6b588fea] {
    -webkit-animation: appear-data-v-6b588fea .3s;
    animation: appear-data-v-6b588fea .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-6b588fea {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-6b588fea {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.activity-card-free-text[data-v-6b588fea] {
    font-size: 16px;
    line-height: 23px;
    color: #212121;
    font-weight: 600
}

.activity-card-price-box[data-v-6b588fea] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap
}

.activity-card-price-box>span[data-v-6b588fea] {
    -webkit-box-flex: 0;
    flex: none;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    margin-right: 4px
}

.activity-card-price-box>span[data-v-6b588fea]:last-child {
    margin-right: 0
}

.activity-card-price-box__from-price[data-v-6b588fea] b {
    font-size: 16px;
    line-height: 23px;
    color: #212121
}

.activity-card-price-box__from-price[data-v-6b588fea] span {
    color: #212121 !important
}

.activity-card-price-box__sell-price[data-v-6b588fea] {
    font-size: 16px;
    line-height: 23px;
    color: #212121;
    font-weight: 600
}

.activity-card-price-box__underline-price[data-v-6b588fea] {
    font-size: 14px;
    line-height: 20px;
    color: #757575;
    text-decoration: line-through
}

.activity-card-price-box__save-price[data-v-6b588fea] {
    font-size: 12px;
    line-height: 17px;
    color: #ff5b00
}

.activity-card-price-box.small-card[data-v-6b588fea] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    align-items: flex-start
}

.activity-card-price-box.small-card .dynamic-width-price[data-v-6b588fea] {
    margin-bottom: 2px
}

.activity-card-price-box.small-card>span[data-v-6b588fea] {
    margin-right: 0
}

.page-no-header .layout-default_header.mobile-header[data-v-6a705fbd] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-6a705fbd] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-6a705fbd] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-6a705fbd] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-6a705fbd] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-6a705fbd] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-6a705fbd] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-6a705fbd] {
    -webkit-animation: appear-data-v-6a705fbd .3s;
    animation: appear-data-v-6a705fbd .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-6a705fbd {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-6a705fbd {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.tagging-tag.credits-style .tagging-tag_custom[data-v-6a705fbd],
.tagging-tag.middle-style.credits-style .tagging-tag_custom[data-v-6a705fbd] {
    position: relative;
    padding-left: 29px
}

.tagging-tag.credits-style img.left-icon[data-v-6a705fbd],
.tagging-tag.middle-style.credits-style img.left-icon[data-v-6a705fbd] {
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 100%;
    margin: 0
}

.tagging-tag[data-v-6a705fbd] {
    display: inline-block
}

.tagging-tag_custom[data-v-6a705fbd] {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    height: 20px;
    line-height: 18px;
    border: 1px solid #45479B;
    font-size: 12px;
    color: #fff;
    background-color: #45479B;
    border-radius: 4px;
    font-weight: 500;
    overflow: hidden;
    padding: 0 6px
}

.tagging-tag_icon[data-v-6a705fbd] {
    width: 16px;
    height: 16px;
    cursor: pointer
}

.tagging-tag_icon.left-icon[data-v-6a705fbd] {
    margin-right: 4px
}

.tagging-tag_icon.right-icon[data-v-6a705fbd] {
    margin-left: 4px
}

.tagging-tag_text[data-v-6a705fbd] {
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all
}

.tagging-tag_tips[data-v-6a705fbd] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.tagging-tag_tips[data-v-6a705fbd] .klk-poptip-reference {
    height: 16px
}

.middle-style.tagging-tag .tagging-tag_custom[data-v-6a705fbd] {
    height: 24px;
    line-height: 22px;
    font-size: 14px;
    padding: 0 8px
}

.page-no-header .layout-default_header.mobile-header[data-v-742d4a5d] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-742d4a5d] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-742d4a5d] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-742d4a5d] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-742d4a5d] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-742d4a5d] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-742d4a5d] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-742d4a5d] {
    -webkit-animation: appear-data-v-742d4a5d .3s;
    animation: appear-data-v-742d4a5d .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-742d4a5d {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-742d4a5d {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.tagging-wrap[data-v-742d4a5d] {
    overflow: hidden
}

.tagging-wrap.ta-right .tagging-box[data-v-742d4a5d] {
    -webkit-box-pack: end;
    justify-content: flex-end
}

.tagging-wrap .tagging-box[data-v-742d4a5d] {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px
}

.tagging-wrap .tagging-box .tagging-tag[data-v-742d4a5d] {
    margin: 0 8px 8px 0
}

.tagging-wrap .tagging-box .tagging-tag[data-v-742d4a5d]:last-of-type {
    margin-right: 0
}

.small-style.tagging-wrap .tagging-box[data-v-742d4a5d] {
    margin-bottom: -4px
}

.small-style.tagging-wrap .tagging-box .tagging-tag[data-v-742d4a5d] {
    margin: 0 4px 4px 0
}

.small-style.tagging-wrap .tagging-box .tagging-tag[data-v-742d4a5d]:last-of-type {
    margin-right: 0
}

.one-tag.tagging-wrap .tagging-box[data-v-742d4a5d] {
    margin-bottom: 0
}

.one-tag.tagging-wrap .tagging-box[data-v-742d4a5d] .tagging-tag {
    margin: 0
}

.page-no-header .layout-default_header.mobile-header[data-v-15b5e799] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-15b5e799] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-15b5e799] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-15b5e799] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-15b5e799] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-15b5e799] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-15b5e799] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-15b5e799] {
    -webkit-animation: appear-data-v-15b5e799 .3s;
    animation: appear-data-v-15b5e799 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-15b5e799 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-15b5e799 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.rwd-activity-card[data-v-15b5e799] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100%;
    width: 100%
}

.rwd-activity-card.has-border[data-v-15b5e799] {
    border: 1px solid #e0e0e0
}

.rwd-activity-card.desktop[data-v-15b5e799]:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .08)
}

.rwd-activity-card.desktop.large-card[data-v-15b5e799] {
    width: 275px
}

.rwd-activity-card.desktop[data-v-15b5e799] {
    width: 216px
}

.rwd-activity-card.desktop .activity-card-tags[data-v-15b5e799] {
    left: 0;
    bottom: 14px
}

.rwd-activity-card[data-v-15b5e799] .adaptive-card_wrap {
    -webkit-box-flex: 0;
    flex: none
}

.rwd-activity-card[data-v-15b5e799] .adaptive-card_wrap .adaptive-card_link {
    border-radius: 0
}

.rwd-activity-card .activity-card-wrap[data-v-15b5e799] {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(transparent));
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), transparent)
}

.rwd-activity-card .activity-card-top[data-v-15b5e799] {
    position: absolute;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 44px;
    padding: 0 12px
}

.rwd-activity-card .activity-card-top.activity-card-top_bigCard[data-v-15b5e799] {
    padding: 0 16px
}

.rwd-activity-card .activity-card-top.flex-end[data-v-15b5e799] {
    -webkit-box-pack: end;
    justify-content: flex-end
}

.rwd-activity-card .banner-info-tag[data-v-15b5e799] {
    height: 24px
}

.rwd-activity-card .activity-card_content[data-v-15b5e799] {
    padding: 12px;
    background-color: #fff;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 0 0 8px 8px
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section[data-v-15b5e799],
.rwd-activity-card .activity-card_content[data-v-15b5e799] {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section .activity-card_content-top_title[data-v-15b5e799] {
    width: 100%;
    overflow: hidden
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section .activity-card_content-top_title .activity-card_content-top_baseinfo[data-v-15b5e799] {
    font-size: 12px;
    line-height: 17px;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #757575
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section .activity-card_content-top_title .activity-card_content-top_baseinfo i[data-v-15b5e799] {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #757575;
    vertical-align: middle;
    margin-right: 4px
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section .activity-card_content-top_title .activity-card_content-top_baseinfo .summary-item:last-child i[data-v-15b5e799] {
    display: none
}

.rwd-activity-card .activity-card_content .seo-content[data-v-15b5e799] {
    font-style: normal;
    line-height: 17px;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 2px
}

.rwd-activity-card .activity-card_content.large-card_content[data-v-15b5e799] {
    padding: 16px
}

.rwd-activity-card .activity-card_score[data-v-15b5e799] {
    padding-top: 4px
}

.rwd-activity-card .activity-card_property[data-v-15b5e799],
.rwd-activity-card .bottom-tag[data-v-15b5e799] {
    margin-top: 4px;
    height: 20px
}

.rwd-activity-card .activity-card_property[data-v-15b5e799] .middle-style.tagging-tag .tagging-tag_custom,
.rwd-activity-card .bottom-tag[data-v-15b5e799] .middle-style.tagging-tag .tagging-tag_custom {
    line-height: 17px;
    font-size: 12px;
    font-weight: 500;
    height: 100%
}

.rwd-activity-card .activity-card-bottom[data-v-15b5e799] {
    padding-top: 12px
}

.rwd-activity-card.large-card .activity-card-bottom[data-v-15b5e799] {
    padding-top: 24px
}

.rwd-activity-card.mobile.small .activity-card_content[data-v-15b5e799] {
    padding: 8px 12px 12px
}

.rwd-activity-card .rwd-activity-card-soldout[data-v-15b5e799] {
    padding: 12px 16px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #757575
}

.page-no-header .layout-default_header.mobile-header[data-v-7855d481] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-7855d481] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-7855d481] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-7855d481] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-7855d481] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-7855d481] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-7855d481] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-7855d481] {
    -webkit-animation: appear-data-v-7855d481 .3s;
    animation: appear-data-v-7855d481 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-7855d481 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-7855d481 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.page-activity-recommend-info-title-review span[data-v-7855d481] {
    display: inline-block;
    font-size: 12px
}

.page-activity-recommend-info-title-review .page-activity-recommend-new-activity[data-v-7855d481] {
    font-size: 12px;
    font-weight: 500;
    color: #ff9c00
}

.page-activity-recommend-info-title-review .page-activity-recommend-score[data-v-7855d481] {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 17px;
    line-height: 17px
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-score-number[data-v-7855d481] {
    border-radius: 8px;
    color: #ff9c00;
    font-weight: 500;
    flex-shrink: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-score-number .score-rate[data-v-7855d481] {
    margin: 0 2px 0 3px
}

.page-activity-recommend-info-title-review .page-activity-recommend-score .page-activity-recommend-review-number[data-v-7855d481] {
    color: #757575;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.page-activity-recommend-info-title-review .fix-en-svg-style[data-v-7855d481] {
    position: relative;
    top: -1px
}

.page-no-header .layout-default_header.mobile-header[data-v-8b5d92f8] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-8b5d92f8] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-8b5d92f8] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-8b5d92f8] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-8b5d92f8] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-8b5d92f8] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-8b5d92f8] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-8b5d92f8] {
    -webkit-animation: appear-data-v-8b5d92f8 .3s;
    animation: appear-data-v-8b5d92f8 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-8b5d92f8 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-8b5d92f8 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.activity-promotion-box[data-v-8b5d92f8] {
    position: relative;
    height: 20px;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap
}

.activity-promotion-box .item[data-v-8b5d92f8] {
    display: inline-block;
    font-size: 12px;
    color: #ff5b00;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    max-width: 100%;
    font-weight: 500;
    background: ##d5d5f3;
    border-radius: 4px;
    padding: 0 4px;
    line-height: 17px;
    margin: 0 8px 10px 0;
    -webkit-box-flex: 0;
    flex: none;
    height: 100%
}

.page-no-header .layout-default_header.mobile-header {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded] {
    -webkit-animation: appear .3s;
    animation: appear .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.activity-card-free-text {
    font-size: 14px;
    line-height: 20px;
    color: #212121;
    font-weight: 500
}

.activity-card-market-price {
    text-decoration: line-through;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px
}

.activity-card-sell {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.activity-card-sell .activity-card-sell-price {
    color: #212121;
    font-style: normal;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-flex: 0;
    flex: none;
    max-width: 100%
}

.activity-card-sell .activity-card-sell-price .sell-price-box {
    margin: 0 4px
}

.activity-card-sell .activity-card-sell-price b {
    font-weight: 500
}

.activity-card-sell .activity-card-promition-text {
    max-width: 100%;
    position: relative;
    margin-left: 16px;
    overflow: hidden
}

.activity-card-sell .activity-card-promition-text.fix-en-tag-style {
    top: 1px
}

.activity-card-sell .activity-card-promition-text.clear-top-attr {
    top: 0;
    display: inline-block
}

.activity-card-sell .activity-card-promition-text.flex-no-wrap {
    flex-wrap: nowrap
}

.page-no-header .layout-default_header.mobile-header[data-v-5bc1fab1] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-5bc1fab1] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-5bc1fab1] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-5bc1fab1] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-5bc1fab1] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-5bc1fab1] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-5bc1fab1] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-5bc1fab1] {
    -webkit-animation: appear-data-v-5bc1fab1 .3s;
    animation: appear-data-v-5bc1fab1 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-5bc1fab1 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-5bc1fab1 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.activity-property-box .activity-property-box_content[data-v-5bc1fab1] {
    height: 20px;
    display: -webkit-box;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap
}

.activity-property-box .activity-property-box_content .tag-item[data-v-5bc1fab1] {
    display: -webkit-box;
    display: flex;
    padding: 0 6px;
    background: #f5f5f5;
    margin-right: 8px;
    border-radius: 4px;
    font-size: 12px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    font-family: Poppins;
    font-weight: 400;
    line-height: 17px
}

.activity-property-box .activity-property-box_content .tag-item.normal-color[data-v-5bc1fab1] {
    color: #757575
}

.activity-property-box .activity-property-box_content .tag-item.blue-color[data-v-5bc1fab1] {
    color: #00b371;
    background: #f0fffa
}

.page-no-header .layout-default_header.mobile-header[data-v-25b9c8a0] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-25b9c8a0] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-25b9c8a0] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-25b9c8a0] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-25b9c8a0] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-25b9c8a0] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-25b9c8a0] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-25b9c8a0] {
    -webkit-animation: appear-data-v-25b9c8a0 .3s;
    animation: appear-data-v-25b9c8a0 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-25b9c8a0 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-25b9c8a0 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.activity-booking-start-date[data-v-25b9c8a0] {
    font-size: 12px;
    color: #757575;
    font-family: Poppins;
    font-weight: 400;
    line-height: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden
}

.activity-booking-start-date.recently[data-v-25b9c8a0] {
    color: #00b371
}

.page-no-header .layout-default_header.mobile-header[data-v-2ac38ad4] {
    display: none
}

.page-no-header .layout-default_header.mobile-header+.layout-default_main[data-v-2ac38ad4] {
    padding-top: 0
}

.page-no-footer .layout-default_footer.mobile-footer[data-v-2ac38ad4] {
    display: none
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-header[data-v-2ac38ad4] {
    margin-bottom: 16px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-inner[data-v-2ac38ad4] {
    min-height: 40%;
    max-height: 90%;
    padding-bottom: 20px
}

.exp-common-reset-bottom-sheet.klk-bottom-sheet .klk-bottom-sheet-body[data-v-2ac38ad4] {
    padding: 20px 20px 0;
    border-top: 1px solid #eee
}

img[lazy=loading][data-v-2ac38ad4] {
    -webkit-transform: scaleX(.3) scaleY(.5);
    transform: scaleX(.3) scaleY(.5)
}

img[lazy=loaded][data-v-2ac38ad4] {
    -webkit-animation: appear-data-v-2ac38ad4 .3s;
    animation: appear-data-v-2ac38ad4 .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes appear-data-v-2ac38ad4 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes appear-data-v-2ac38ad4 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.rwd-activity-card[data-v-2ac38ad4] {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    min-height: 100%;
    width: 100%
}

.rwd-activity-card.has-border[data-v-2ac38ad4] {
    border: 1px solid #e0e0e0
}

.rwd-activity-card.desktop[data-v-2ac38ad4]:hover {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .08)
}

.rwd-activity-card.desktop.large-card[data-v-2ac38ad4] {
    width: 275px
}

.rwd-activity-card.desktop[data-v-2ac38ad4] {
    width: 216px
}

.rwd-activity-card.desktop .activity-card-tags[data-v-2ac38ad4] {
    left: 0;
    bottom: 14px
}

.rwd-activity-card[data-v-2ac38ad4] .adaptive-card_wrap {
    -webkit-box-flex: 0;
    flex: none
}

.rwd-activity-card[data-v-2ac38ad4] .adaptive-card_wrap .adaptive-card_link {
    border-radius: 0
}

.rwd-activity-card .activity-card-wrap[data-v-2ac38ad4] {
    position: absolute;
    height: 40px;
    left: 0;
    right: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(transparent));
    background: linear-gradient(180deg, rgba(0, 0, 0, .3), transparent)
}

.rwd-activity-card .activity-card-top[data-v-2ac38ad4] {
    position: absolute;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 44px;
    padding: 0 12px
}

.rwd-activity-card .activity-card-top.activity-card-top_bigCard[data-v-2ac38ad4] {
    padding: 0 16px
}

.rwd-activity-card .activity-card-top.flex-end[data-v-2ac38ad4] {
    -webkit-box-pack: end;
    justify-content: flex-end
}

.rwd-activity-card .activity-card_content[data-v-2ac38ad4] {
    padding: 12px;
    background-color: #fff;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 0 0 8px 8px
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section[data-v-2ac38ad4],
.rwd-activity-card .activity-card_content[data-v-2ac38ad4] {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section .activity-card_content-top_title[data-v-2ac38ad4] {
    width: 100%;
    overflow: hidden
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section .activity-card_content-top_title .activity-card_content-top_baseinfo[data-v-2ac38ad4] {
    height: 17px;
    font-size: 12px;
    line-height: 19px;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #757575
}

.rwd-activity-card .activity-card_content .activity-card_content-top .activity-card_content-title-section .activity-card_content-top_title .activity-card_content-top_baseinfo i[data-v-2ac38ad4] {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #757575;
    vertical-align: middle
}

.rwd-activity-card .activity-card_content .seo-content[data-v-2ac38ad4] {
    font-style: normal;
    line-height: 17px;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 6px
}

.rwd-activity-card .activity-card_content.large-card_content[data-v-2ac38ad4] {
    padding: 16px
}

.rwd-activity-card .activity-card_score[data-v-2ac38ad4] {
    padding-top: 4px
}

.rwd-activity-card .activity-card_property[data-v-2ac38ad4] {
    padding-top: 6px
}

.rwd-activity-card .activity-card-bottom[data-v-2ac38ad4] {
    padding-top: 12px
}

.rwd-activity-card .activity-card-bottom .home-activity-card_date.booking-start-date.recently[data-v-2ac38ad4] {
    color: #757575
}

.rwd-activity-card.mobile .activity-card-bottom .activity-card-sell-price[data-v-2ac38ad4] {
    padding-top: 0;
    font-size: 14px;
    line-height: 1.44
}

.rwd-activity-card.mobile .activity-card-bottom .home-activity-card_date[data-v-2ac38ad4] {
    margin-top: 0
}

.rwd-activity-card.mobile .activity-card-bottom .home-activity-card_date.booking-start-date.recently[data-v-2ac38ad4] {
    font-size: 12px;
    color: #757575
}

.rwd-activity-card.mobile.small .activity-card_content[data-v-2ac38ad4] {
    padding: 8px 12px 12px
}

.rwd-activity-card .rwd-activity-card-soldout[data-v-2ac38ad4] {
    padding: 12px 16px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #757575
}